<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794800322831-61li65827ffu2fb8v2m7fpb68h5ghp83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794800322831-61li65827ffu2fb8v2m7fpb68h5ghp83</string>
	<key>API_KEY</key>
	<string>AIzaSyAzDWDPFiQM-9o6yToPd-yFUxDFBROghmw</string>
	<key>GCM_SENDER_ID</key>
	<string>794800322831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alertApp</string>
	<key>PROJECT_ID</key>
	<string>emergency-accident-alert</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency-accident-alert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794800322831:ios:6d504ad2ceb686d8dae67a</string>
	<key>DATABASE_URL</key>
	<string>https://emergency-accident-alert-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>